<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>

   <form method="POST" action="/team">
     <label for="name">Team Name:</label>
      <input id="name" type="text" name="name"><br>
     <label for="coach">Coach:</label>
      <input id="coach" name="coach" type="text"><br>
    <label for="pg">Point Guard:</label>
      <input id="pg" name="pg" type="text"><br>
    <label for="sg">Shooting Guard:</label>
      <input id="sg" name="sg" type="text"><br>
    <label for="pf">Power Forward:</label>
      <input id="pf" name="pf" type="text"><br>
    <label for="sf">Small Forward:</label>
      <input id="sf" name="sf" type="text"><br>
    <label for="c">Center:</label>
      <input id="c" name="c" type="text"><br>
    <input id="Submit" type="submit">
   </form>

 </body>
</html>
