<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
  <h1>Create a Basketball Team!</h1>
   
  <form method="POST" action="/team">
   <p>
     <label for="name">Team Name:</label>
     <input type="text" id="name" name="name" required />
   </p>
   <p>
     <label for="coach">Coach:</label>
     <input type="text" id="coach" name="coach" required />
   </p>
   <p>
     <label for="pg">Point Guard:</label>
     <input type="text" id="pg" name="pg" required />
   </p>
   <p>
     <label for="sg">Shooting Guard:</label>
     <input type="text" id="sg" name="sg" required />
   </p>
   <p>
     <label for="sf">Small Forward:</label>
     <input type="text" id="sf" name="sf" required />
   </p>
   <p>
     <label for="pf">Power Forward:</label>
     <input type="text" id="pf" name="pf" required />
   </p>
   <p>
     <label for="c">Center:</label>
     <input type="text" id="c" name="c" required />
   </p>
   <p>
     <input type="submit" id="Submit" />
   </p>
  </form>
 </body>
</html>
