<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
  <h1>Create a Basketball Team</h1>
  <form action="/team" method="post">
    <label for="name">Team Name:</label>
    <input type="text" name="name">
    <label for="coach">Coach:</label>
    <input type="text" name="coach">
    <label for="pg">Point Guard:</label>
    <input type="text" name="pg">
    <label for="sg">Shooting Guard:</label>
    <input type="text" name="sg">
    <label for="sf">Small Forward:</label>
    <input type="text" name="sf">
    <label for="pf">Power Forward:</label>
    <input type="text" name="pf">
    <label for="c">Center:</label>
    <input type="text" name="c">
    <input type="submit" name="submit" value="Submit">
  </form>
 </body>
</html>
