<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
    <form method="POST" action= "/newteam">
      <p>name: <input type="text"></p>
      <p>coach: <input type="text"></p>
      <p>pg: <input type="text"></p>
      <p>sg: <input type="text"></p>
      <p>sg: <input type="text"></p>
      <p>pf: <input type="text"></p>
      <p>sf: <input type="text"></p>
      <p>c: <input type="text"></p>
      <input type="submit">
    </form>

 </body>
</html>


