<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="post" action="/team">
     <h2>Create a Basketball Team!</h2>
     <p><input type="text"   name="name"   placeholder="Enter team name"     /></p>
     <p><input type="text"   name="coach"  placeholder="Enter coach"         /></p>
     <p><input type="text"   name="pg"     placeholder="Enter point guard"   /></p>
     <p><input type="text"   name="sg"     placeholder="Enter shooting guard"/></p>
     <p><input type="text"   name="sf"     placeholder="Enter small forward" /></p>
     <p><input type="text"   name="pf"     placeholder="Enter power forward" /></p>
     <p><input type="text"   name="c"      placeholder="Enter center"        /></p>
     <p><input type="submit" name="submit" value="submit"                    /></p>
   </form>
 </body>
</html>
