<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h2>Create a Basketball Team!</h2>
   <form action="/team" method="post">
     <p>Team name:<input type="text" name="name"></p>
     <p>Coach:<input type="text" name="coach"></p>
     <p>Point guard:<input type="text" name="pg"></p>
     <p>Shooting guard:<input type="text" name="sg"></p>
     <p>Small forward:<input type="text" name="sf"></p>
     <p>Power forward:<input type="text" name="pf"></p>
     <p>Center:<input type="text" name="c"></p>
     <input type="submit" id="Submit">
   </form>
 </body>
</html>
