<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form class="" action="/newteam" method="post">
    <div><input type="text" name="name" value="Name"></div>
    <div><input type="text" name="coach" value="Coach"></div>
    <div><input type="text" name="pg" value="Point Guard"></div>
    <div><input type="text" name="sg" value="Shooting Guard"></div>
    <div><input type="text" name="pf" value="Power Forward"></div>
    <div><input type="text" name="sf" value="Small Forward"></div>
    <div><input type="text" name="c" value="Center"></div>
    <div><input type="submit" id="submit" value="Submit Form" ></div>
   </form>
 </body>
</html>
