<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <!--<form method="POST" action="/team"> -->
 
   <!--<p>Team Name: <input type = "text" name ="name"></p>-->
     <!--<p>Coach:<input type = "text" name ="coach"></p>-->
       <!--<p>Point Guard: <input type = "text" name ="pg"></p>-->
         <!--<p>Shooting Guard: <input type = "text" name ="sg"></p>-->
           <!--<p>Small Forward: <input type = "text" name ="sf"></p>-->
             <!--<p>Power Forward: <input type = "text" name ="pf"></p>-->
              <!-- <p>Center: <input type = "text" name ="c"></p>-->
              <!-- <button id="Submit" title="Submit" value="Submit"> -->#button instead of input
              <!-- </form> -->
              
              
              <form method="POST" action="/team"> 
              
              <h1> Top 5 rappers then and now</h1>
              <p>1st: <input type="text" name="first"> </p>
               <p>2nd: <input type="text" name="second"> </p>
                <p>3rd: <input type="text" name="third"> </p>
                 <p>4th: <input type="text" name="forth"> </p>
                  <p>5th: <input type="text" name="fifth"> </p>
                  <button id="Submit" title ="Submit" value="Submit">
              
            
              </form>
 </body>
</html>


