<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="post" action="/team"
   <h1>Create a basketball team </h1><br>
   Team name: <input name='name'/><br>
   Coach: <input name='coach' /><br>
   Point Guard: <input name='pg' /><br>
   Shooting Guard: <input name='sg'/><br>
   Power Forward: <input name='pf'/><br>
   Small Forward: <input name='sf' /><br>
   Center: <input name='c' />
   <input type="submit" name="submit" value="submit">




 </body>
</html>
