<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>

  <form action="/team" method="post">
    <label for="name">Team Name:</label>
    <input type="text" id="name" name="name"><br>

    <label for="coach">Coach:</label>
    <input type="text" id="coach" name="coach"><br>

    <label for="pg">Point Guard:</label>
    <input type="text" id="pg" name="pg"><br>

    <label for="sg">Shooting Guard:</label>
    <input type="text" id="sg" name="sg"><br>

    <label for="pf">Power Forward:</label>
    <input type="text" id="pf" name="pf"><br>

    <label for="sf">Small Forward:</label>
    <input type="text" id="sf" name="sf"><br>

    <label for="c">Center:</label>
    <input type="text" id="c" name="c"><br>

    <input type="submit" value="Submit">
  </form>

 </body>
</html>
