<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action="/team">
     <label>Team Name: <input type="text" name="name"/></label>
     <label>Coach: <input type="text" name="coach"/></label>
     <label>Point Guard: <input type="text" name="pg"/></label>
     <label>Shooting Guard: <input type="text" name="sg"/></label>
     <label>Power Forward: <input type="text" name="pf"/></label>
     <label>Small Forward: <input type="text" name="sf"/></label>
     <label>Center: <input type="text" name="c"></label>
     <input type="submit" id="Submit">
   </form>
 </body>
</html>
