<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form method="POST" action="/team">
     <p><h2>Team Name: </h2><input type="text" name="name" id="name"></p>
     <p><h2>Coach: </h2><input type="text" name="coach" id="coach"></p>
     <p><h2>Point Guard: </h2><input type="text" name="pg" id="pg"></p>
     <p><h2>Shooting Guard: </h2><input type="text" name="sg" id="sg"></p>
     <p><h2>Small Forward: </h2><input type="text" name="sf" id="sf"></p>
     <p><h2>Power Forward: </h2><input type="text" name="pf" id="pf"></p>
     <p><h2>Center: </h2><input type="text" name="c" id="c"></p>
     <p><input type="submit" id="submit" value="Submit"></p>
   </form>
 </body>
</html>
