<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
<form action="/team" method="POST">

  <label for="POST-teamname">Team Name:</label>
  <input id="POST-teamname" type="text" name="name">

  <label for="POST-coach">Coach:</label>
  <input id="POST-coach" type="text" name="coach">

  <label for="POST-pointguard">Point Guard:</label>
  <input id="POST-pointguard" type="text" name="pg">

  <label for="POST-shootingguard">Shooting Guard:</label>
  <input id="POST-shootingguard" type="text" name="sg">

  <label for="POST-smallforward">Small Forward:</label>
  <input id="POST-smallforward" type="text" name="sf">

  <label for="POST-powerforward">Power Forward:</label>
  <input id="POST-powerforward" type="text" name="pf">

  <label for="POST-center">Center:</label>
  <input id="POST-center" type="text" name="c">



  <button type="submit" value="Submit">Submit</button>
</form>
 </body>
</html>
