<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team</h1>
   <form method="POST" action="/team">
     <label for="name">Team Name:</label> <input type="text" name="name" id="name"><br>
     <label for="coach">Coach:</label><input type="text" name="coach" id="coach"><br>
     <label for="pg">Point Guard:</label><input type="text" name="pg" id="pg"><br>
     <label for="sg">Shooting Guard:</label><input type="text" name="sg" id="sg"><br>
     <label for="pf">Power Forward:</label><input type="text" name="pf" id="pf"><br>
     <label for="sf">Small Forward:</label><input type="text" name="sf" id="sf"><br>
     <label for="c">Center: </label><input type="text" name="c" id="c"><br>
     <input type="submit" id="Submit">
   </form>

 </body>
</html>
