<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
    <h1>Create a Basketball Team!</h1>

    <form action="/newteam" method="POST">
      <label for="newteam">Name:</label>


<p><input type="text" name="team_name" id="name"/></p>
  <p><input type="text" name="Coach" id="coach"/></p>
  <p><input type="text" name="Point Guard" id="pg"/></p>
  <p><input type="text" name="Shooting Guard" id="Shooting Guard"/></p>
  <p><input type="text" name="Small Forward" id="sf"/></p>
binding.pry
  <p><input type="text" name="Power Forward" id="Power Forward"/></p>
  <p><input type="text" name="Center" id="c"/></p>
  <input type="submit" value="Submit"/>
  </form>
 </body>
</html>

<%= %>
