
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>

   <form method="POST" action="/newteam">
     <h2>Team Name: <input type="text" name="name"></h2>
     <h2>Coach: <input type="text" name="coach"></h2>
     <h2>Point Guard: <input type="text" name="pg"></h2>
     <h2>Shooting Guard: <input type="text" name="sg"></h2>
     <h2>Small Forward: <input type="text" name="sf"></h2>
     <h2>Power Forward: <input type="text" name="pf"></h2>
     <h2>Center: <input type="text" name="c"></h2>
     <input type="submit" id="Submit">
   </form>
 </body>
</html>
