<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Create A Basketball Team</title>
 </head>
 <body>
      <form method="POST" action="/team">
      <label>Team Name:<input type="text" name="Team_name"></label><br/>
      <label>Coach:<input type="text" name="Coach"></label>
      <label>Point Guard:<input type="text" name="Point_guard"></label><br/>
      <label>Shooting Guard:<input type="text" name="Shooting_guard"></label><br/>
      <label>Small Forward:<input type="text" name="Small_forward"></label><br/>
      <label>Power Forward:<input type="text" name="Power_forward"></label><br/>
      <label>Center:<input type="text" name="Center"></label><br/><br/>
      <input type="submit" id="Submit">
    </form>
 </body>
</html>


