<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form action="/team" method="post">
     <h1>Create a Basketball Team!</h1>
     <label for="name">Team Name:</label>
     <input type="text" name="name" value=""> <br><br>
     <label for="coach">Coach:</label>
     <input type="text" name="coach" value=""><br><br>
     <label for="pg">Point Guard:</label>
     <input type="text" name="pg" value=""><br><br>
     <label for="ssg">Shooting Guard:</label>
     <input type="text" name="sg" value=""><br><br>
     <label for="sf">Small Forward:</label>
     <input type="text" name="sf" value=""><br><br>
     <label for="pf">Power Forward:</label>
     <input type="text" name="pf" value=""><br><br>
     <label for="c">Center:</label>
     <input type="text" name="c" value=""><br><br>
     <input type="submit" value="submit">
   </form>

 </body>
</html>
