<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action="/team">
    <p><h1>Team Name: <input type="text" name="name"></h1></p>
    <p><h2>Coach: <input type="text" name="coach"><h2></p>
    <p><h2>Point Guard: <input type="text" name="pg"><h2></p>
    <p><h2>Shooting Guard: <input type="text" name="sg"><h2></p>
    <p><h2>Power Forward: <input type="text" name="pf"><h2></p>
    <p><h2>Small Forward: <input type="text" name="sf"><h2></p>
    <p><h2>Center: <input type="text" name="c"><h2></p>
    <input id= "Submit" type="submit">
   </form>
 </body>
</html>
