<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form>
      <form method="POST" action="/newteam">
      <p>Team name: <input type="text" id="name"></p>
      <p>Coach: <input type="text" id="coach"></p>
      <p>Point Guard: <input type="text" id="pg"></p>
      <p>Shooting Guard: <input type="text" id="sg"></p>
      <p>Power Forward: <input type="text" id="pf"></p>
      <p>Small Forward: <input type="text" id="sf"></p>
      <p>Center: <input type="text" id="c"></p>
      <input type="submit" id="Submit">
    </form>
 </body>
</html>
