<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
  <h1>Create a Basketball Team!</h1>
  
  <form method="POST" action="/team">
   <p><label for="name">Team Name:</label>
   <input name="name" type="text"></p>
   
   <p><label for="coach">Coach:</label>
   <input name="coach" type="text"></p>
   
   <p><label for="pg">Point Guard:</label>
   <input name="pg" type="text"></p>
   
   <p><label for="sg">Shooting Guard:</label>
   <input name="sg" type="text"></p>
   
   <p><label for="pf">Power Forward:</label>
   <input name="pf" type="text"></p>
   
   <p><label for="sf">Small Forward:</label>
   <input name="sf" type="text"></p>
   
   <p><label for="c">Center:</label>
   <input name="c" type="text"></p>
   
   <input type="submit" value="Submit">
  </form>
 </body>
</html>


