<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form method="POST" action="/team">
    <p>Team Name: <input type="text" name="name" /></p><br/>
    <p>Coach: <input type="text" name="coach" /></p><br/>
    <p>Point Guard: <input type="text" name="pg" /></p><br/>
    <p>Shooting Guard: <input type="text" name="sg" /></p><br/>
    <p>Power Forward: <input type="text" name="pf" /></p><br/>
    <p>Small Forward: <input type="text" name="sf" /></p><br/>
    <p>Center: <input type="text" name="c" /></p><br/><br/>
    <input type="submit" id="Submit" />
    </form>
 </body>
</html>
