<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
  </head>
  <body>
    <form method="post" action="/team">
      <label for="name">TEAM NAME</label>
      <input type="text" name="name">

      <label for="name">Coach</label>
      <input type="text" name="coach">
      
      <label for="name">Point Guard</label>
      <input type="text" name="pg">
      
      <label for="name">Shooting Guard</label>
      <input type="text" name="sg">
      
      <label for="name">Small Forward</label>
      <input type="text" name="sf">
      
      <label for="name">Power Forward</label>
      <input type="text" name="pf">
      
      <label for="name">Center</label>
      <input type="text" name="c">
      
      <input type="submit" value="Submit" id="submit">
    </form>

  </body>
</html>


