<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form action="/team" method="post">
     <label for="name">
       <p>Team Name:
         <input type="text" id="name" name="name">
       </p>
     </label>

     <label for="coach">
       <p>Coach:
         <input type="text" id="coach" name="coach">
       </p>
     </label>

     <label for="pg">
       <p>Point Guard:
         <input type="text" id="pg" name="pg">
       </p>
     </label>

     <label for="sg">
       <p>Shooting Guard:
         <input type="text" id="sg" name="sg">
       </p>
     </label>

     <label for="sf">
       <p>Small Forward:
         <input type="text" id="sf" name="sf">
       </p>
     </label>

     <label for="pf">
       <p>Power Forward:
         <input type="text" id="pf" name="pf">
       </p>
     </label>

     <label for="c">
       <p>Center:
         <input type="text" id="c" name="c">
       </p>
     </label>
     <input type="submit" value="submit">
   </form>

 </body>
</html>
