<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>

   <form class="" action="/team" method="post">
     Team name: <input type="text" name="name">
     Coach: <input type="text" name="coach" value="">
     Point Guard: <input type="text" name="pg" value="">
     Shooting Guard: <input type="text" name="sg" value="">
     Power Forward: <input type="text" name="pf" value="">
     Small Forward: <input type="text" name="sf" value="">
     Center <input type="text" name="c" value="">
     <input type="submit" value="submit">
   </form>

 </body>
</html>
