<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form method="POST" action="/team">
     <p>Team Name: <input type="text" name="name"></p>
     <p>Coach: <input type="text" name="coach"></p>
     <p>Point Guard: <input type="text" name="point_guard"></p>
     <p>Shooting Guard: <input type="text" name="shooting_guard"></p>
     <p>Small Forward: <input type="text" name="small_forward"></p>
     <p>Power Forward: <input type="text" name="power_forward"></p>
     <p>Center: <input type="text" name="center"></p>

     <input type="submit" id="Submit">


 </body>
</html>
