<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/style.css">
  <title>Basketball Team Signup</title>
 </head>
 <body>
  <form action="/newteam" method="post">
    <label>Team Name:
      <input type="text" id="name" name="name">
    </label>
    <label>Coach:
      <input type="text" id="coach" name="coach">
    </label>
    <label>Point Guard:
      <input type="text" id="pg" name="pg">
    </label>
    <label>Shooting Guard:
      <input type="text" id="sg" name="sg">
    </label>
    <label>Small Foward:
      <input type="text" id="sf" name="sf">
    </label>
    <label>Power Forward:
      <input type="text" id="pf" name="pf">
    </label>
    <label>Center:
      <input type="text" id="c" name="center">
    </label>
    <input type="submit" value="Submit" id"submit" >
  </form>
 </body>
</html>


