<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Create A Basketball Team</title>
 </head>
 <body>
   <form method="POST" action="/team">
     <label>Team Name: <input type="text" name="name" /></label><br/>
     <label>Coach: <input type="text" name="coach" /></label><br/>
     <label>Point Guard: <input type="text" name="pg" /></label><br/>
     <label>Shooting Guard: <input type="text" name="sg" /></label><br/>
     <label>Power Forward: <input type="text" name="pf" /></label><br/>
     <label>Small Forward: <input type="text" name="sf" /></label><br/>
     <label>Center: <input type="text" name="c" /></label><br/><br/>
     <input type="submit" id="Submit" />
   </form>
 </body>
</html>