<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>

	 <form action="/team" method="POST">
		 <p>Team Name: <input type="text" name="name"></p>
		 <p>Coach: <input type="text" name="coach"></p>
		 <p>Point Guard: <input type="text" name="point_guard" id="pg"></p>
		 <p>Shooting Guard: <input type="text" name="shooting_guard" id="sg"></p>
		 <p>Small Forward: <input type="text" name="small_forward" id="sf"></p>
		 <p>Power Forward: <input type="text" name="power_forward" id="pf"></p>
		 <p>Center: <input type="text" name="center" id="c"></p>
		 <input type="submit" id="submit">
	 </form>

 </body>
</html>
