<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
 </head>
 <body>
   <form method="POST" action="/team">
     <h1>Create a Basketball Team!</h1>
       Team Name:<input type="text" name="name"><br>
       Coach:<input type="text" name="coach"><br>
       Point Guard:<input type="text" name="pg"><br>
       Shooting Guard:<input type="text" name="sg"><br>
       Small Forward:<input type="text" name="sf"><br>
       Power Forward:<input type="text" name="pf"><br>
       Center:<input type="text" name="c"><br>
       <input id="Submit" type="submit">
   </form>
 </body>
</html>
