<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>

   <form action="/newteam" method="post">
     <p>Team name:<input type="text" name="name"></p>
     <p>Couch<input type="text" name="coach"></p>
     <p>)Point Guard:<input type="text" name="pg"></p>
     <p>Team name:<input type="text" name=""></p>
     <p>Team name:<input type="text" name=""></p>
     <p>Team name:<input type="text" name=""></p>
     <p>Team name:<input type="text" name=""></p>
     <input type="submit" id = submit>
   </form>

 </body>
</html>
