<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
 </head>
 <body>
   <form method="POST" action="newteam">
     <h1>Create a Basketball Team!</h1>
       Team Name:<input type="text" name="team_name"><br>
       Coach:<input type="text" name="coach"><br>
       Point Guard:<input type="text" name="point_guard"><br>
       Shooting Guard:<input type="text" name="shooting_guard"><br>
       Small Forward:<input type="text" name="small_forward"><br>
       Power Forward:<input type="text" name="power_forward"><br>
       Center:<input type="text" name="center"><br>
       <input id="submit" type="submit">
   </form>
 </body>
</html>
