<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form action="/team" method="post">
     <label for="name">Name</label>
     <input type="text" name="name" value="name"></br>

     <label for="coach">Coach</label>
     <input type="text" name="coach" value="coach"></br>

     <label for="pg">Point Gaurd</label>
     <input type="text" name="pg" value="pg"></br>

     <label for="sg">Shooting Gaurd</label>
     <input type="text" name="sg" value="sg"></br>

     <label for="pf">Power Gaurd</label>
     <input type="text" name="pf" value="pf"></br>

     <label for="sf">Small Forward</label>
     <input type="text" name="sf" value="sf"></br>

     <label for="c">Center</label>
     <input type="text" name="c" value="c"></br>

     <input type="submit" value="submit"></br>
   </form>


 </body>
</html>
