<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form action="POST" method='/team'>
      <p>Team Name: <input type="textbook" name="name"></p>
     <p>Coach: <input type="textbook" name="coach"></p>
     <p>Point Guard: <input type="textbook" name="pg"></p>
     <p>Shooting Guard: <input type="textbook" name="sg"></p>
     <p>Small Forward: <input type="textbook" name="sf"></p>
     <p>Power Forward: <input type="textbook" name="pf"></p>
     <p>Center: <input type="textbook" name="c"></p>
     <input type="submit">
  </form>
 </body>
</html>
