<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form action="/team" method="post">
     <input type="text" name="name" value="Team Name"><br>
     <input type="text" name="coach" value="Coach"><br>
     <input type="text" name="pg" value="Point Guard"><br>
     <input type="text" name="sg" value="Shooting Guard"><br>
     <input type="text" name="pf" value="Power Forward"><br>
     <input type="text" name="sf" value="Small Forward"><br>
     <input type="text" name="c" value="Center"><br>
     <input type="submit" name="submit" value="submit"><br>
   </form>
 </body>
</html>
