<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
    <h1>@name</h1>

    <form action="/team" method="POST">

      <label for="name">Team Name:</label>
      <input type="text" name="name" id="team name"/>
          <p></p>

      <label for="coach">Coach:</label>
      <input type="text" name="coach" id="coach"/>
          <p></p>

      <label for="pg">Point Guard:</label>
      <input type="text" name="point guard" id="pg"/>
          <p></p>

      <label for="sg">Shooting Guard:</label>
      <input type="text" name="shooting guard" id="sg"/>
          <p></p>

      <label for="sf">Small Forward:</label>
      <input type="text" name="small forward" id="sf"/>
          <p></p>

      <label for="pf">Power Forward:</label>
      <input type="text" name="power forward" id="pf"/>
          <p></p>

      <label for="c">Center:</label>
      <input type="text" name="center" id="c"/>
          <p></p>

  <input type="submit" value="Submit"/>
  </form>
 </body>
</html>
