<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
  <h1>Create a Basketball Team!</h1>

  <form method="POST" action="/newteam">

    <label for="POST-team">Team Name:</label>
    <input type="text" name="name">

    <br/>
    <br/>

    <label for="POST-coach">Coach:</label>
    <input type="text" name="coach">

    <br/>
    <br/>

    <label for="POST-pg">Point Guard:</label>
    <input type="text" name="pg">

    <br/>
    <br/>

    <label for="POST-sg">Shooting Guard:</label>
    <input type="text" name="sg">

    <br/>
    <br/>

    <label for="POST-sf">Small Forward:</label>
    <input type="text" name="sf">

    <br/>
    <br/>

    <label for="POST-pf">Power Forward:</label>
    <input type="text" name="pf">

    <br/>
    <br/>

    <label for="POST-center">Center:</label>
    <input type="text" name="c">

    <br/>
    <br/>

    <input type="submit" id="Submit">
  </form>
 </body>
</html>


