<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>

  <form action="/team" method="POST">

    <h1>Create Basketball Team!</h1>

    Team Name: <input type="text" name="name"><br>
    Coach: <input type="text" name="coach"><br>
    Point Guard: <input type="text" name="pg"><br>
    Shooting Guard: <input type="text" name="sg"><br>
    Small Forward: <input type="text" name="sf"><br>
    Power Forward: <input type="text" name="pf"><br>
    Center: <input type="text" name="c"><br>
    <input type="submit" id="Submit">

  </form>
 </head>
 <body>
 </body>
</html>
