<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
    <form method="POST" action="/team">
      <label>Team Name:</label>
      <input type="text" name="name">
      <br><br>
      <label>Coach:</label>
      <input type="text" name="coach">
      <br><br>
      <label>Point Guard:</label>
      <input type="text" name="pg">
      <br><br>
      <label>Shooting Guard:</label>
      <input type="text" name="sg">
      <br><br>
      <label>Power Forward:</label>
      <input type="text" name="pf">
      <br><br>
      <label>Small Forward:</label>
      <input type="text" name="sf">
      <br><br>
      <label>Center:</label>
      <input type="text" name="c">
      <br><br>
      <input id="submit" type="submit">
    </form>
 </body>
</html>
