<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1> Create a Basketball Team!</h1>
   <br>
  <form method="POST" action="/team">
    <label for="POST-name">Team Name:</label>
    <input id="POST-name" type="text" name="name">
    <br>
    <label for="POST-coach">Coach:</label>
    <input id="POST-coach" type="text" name="coach">
    <br>
    <label for="POST-pg">Point Guard:</label>
    <input id="POST-pg" type="text" name="pg">
    <br>
    <label for="POST-sg">Shooting Guard:</label>
    <input id="POST-sg" type="text" name="sg">
    <br>
    <label for="POST-sf">Small Forward:</label>
    <input id="POST-sf" type="text" name="sf">
    <br>
    <label for="POST-pf">Power Forward:</label>
    <input id="POST-pf" type="text" name="pf">
    <br>
    <label for="POST-c">Center:</label>
    <input id="POST-c" type="text" name="c">
    <br>
    <input type="submit" id="Submit">

 </body>
</html>
