<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
    <h1>Create a Basketball Team!</h1>

    <form action="/newteam" method="GET">
      <label for="team">Name:</label>

  <!-- <p><input type="text" name="user_name" id="user_name" /></p> -->

  <p><input type="text" name="team_name" id="name"/></p>
  <p><input type="text" name="Coach" id="coach"/></p>
  <p><input type="text" Point Guard="pg" id="name"/></p>
  <p><input type="text" name="Shooting Guard" id="sg"/></p>
  <p><input type="text" name="Small Forward" id="sf"/></p>
  <p><input type="text" name="pf" id="Power Forward"/></p>
  <p><input type="text" name="c" id="Center"/></p>
  <input type="submit" value="Submit"/>

  </form>
 </body>
</html>
