<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action="/team">
     <ul>
       <li><label for="name">Team name:</label>
       <input name="name" type="text" id="name"></li>

       <li><label for="coach">Coach:</label>
       <input name="coach" type="text" id="coach"></li>

       <li><label for="pg">Point Guard:</label>
       <input name="pg" type="text" id="pg"></li>

       <li><label for="sg">Shooting Guard:</label>
       <input name="sg" type="text" id="sg"></li>

       <li><label for="pf">Power Forward:</label>
       <input name="pf" type="text" id="pf"></li>

       <li><label for="sf">Small Forward:</label>
       <input name="sf" type="text" id="sf"></li>

       <li><label for="c">Center:</label>
       <input name="c" type="text" id="c"></li>
     </ul>

    <input id="submit" type="submit">
   </form>

 </body>
</html>
