<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>


  <form method="POST" action="/team">
  <% @team_members.each do |member| %>

   <label for="<%= member %>"><%= member %>:</label>
   <input id="<%= member %>" type="text" name='<%= member %>' >

   <br>
  <% end %>
   <button type="submit" value="submit">submit<button>
  </form>

 </body>
</html>
