<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
    <form method="POST" action="/team">
      <label for="team">Team Name:</label> 
      <input type= "text" name="name" id="team"><br>
      <label for="coach">Coach:</label> 
      <input type= "text" name="coach" id="coach"><br>
      <label for="point">Point Guard:</label>
      <input type= "text" name="pg" id="point"><br>
      <label for="shooting">Shooting Guard:</label>
      <input type= "text" name="sg" id="shooting"><br>
      <label for="power">Power Forward: </label>
      <input type= "text" name="pf" id="power"><br>
      <label for="small">Small Forward: </label>
      <input type= "text" name="sf" id="small"><br>
      <label for="center">Center: </label>
      <input type= "text" name="c" id="center"><br>
      <input type="submit" id="submit">
    </form>


 </body>
</html>


