<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Basketball Team Signup</title>
  </head>
  <body>
    <h1>Basketball Team Signup</h1>
    <form class="" action="/team" method="post">
      <p>
        <label for="name">Team Name: </label><input type="text" name="name" id="name" value="">
      </p>
      <p>
        <label for="coach">Coach: </label><input type="text" name="coach" id="coach" value="">
      </p>
      <p>
        <label for="pg">Point Guard: </label><input type="text" name="pg" id="pg" value="">
      </p>
      <p>
        <label for="sg">Shooting Guard: </label><input type="text" name="sg" id="sg" value="">
      </p>
      <p>
        <label for="pf">Power Forward: </label><input type="text" name="pf" id="pf" value="">
      </p>
      <p>
        <label for="sf">Small Forward: </label><input type="text" name="sf" id="sf" value="">
      </p>
      <p>
        <label for="c">Center: </label><input type="text" name="c" id="c" value="">
      </p>
      <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>
