<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form method="POST" action="/team">
     <p>
       <label for="name">Team Name:</label>
       <input name="name" type="text" id="name" />
     </p>
     <p>
       <label for="coach">Coach:</label>
       <input name="coach" type="text" id="coach" />
     </p>
     <p>
       <label for="pg">Point Guard:</label>
       <input name="pg" type="text" id="pg" />
     </p>
     <p>
       <label for="sg">Shooting Guard:</label>
       <input name="sg" type="text" id="sg" />
     </p>
     <p>
       <label for="pf">Power Forward:</label>
       <input name="pf" type="text" id="pf" />
     </p>
     <p>
       <label for="sf">Small Forward:</label>
       <input name="sf" type="text" id="sf" />
     </p>
     <p>
       <label for="c">Center:</label>
       <input name="c" type="text" id="c" />
     </p>
     <p>
       <input type="submit" id="submit" />
     </p>
   </form>
 </body>
</html>
