<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form action="/team" method="post">
     <p><label for="name">Team Name:</label><input type="text" name="name"></p>
     <p><label for="coach">Coach:</label><input type="text" name="coach"></p>
     <p><label for="pg">Point Guard:</label><input type="text" name="pg"></p>
     <p><label for="sg">Shooting Guard:</label><input type="text" name="sg"></p>
     <p><label for="sf">Small Forward:</label><input type="text" name="sf"></p>
     <p><label for="pf">Power Forward:</label><input type="text" name="pf"></p>
     <p><label for="c">Center:</label><input type="text" name="c"></p>
     <button type="submit">submit</button>
   </form>
 </body>
</html>
