<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form method="POST" action="/team">
     <label for="name">Team Name:</label>
     <input type="text" name="team_name" id="name">

     <br/>

     <label for="coach">Coach:</label>
     <input type="text" name="coach" id="coach">

     <br/>

     <label for="pg">Point Guard:</label>
     <input type="text" name="point_guard" id="pg">

     <br/>

     <label for="sg">Shooting Guard:</label>
     <input type="text" name="shooting_guard" id="sg">

     <br/>

     <label for="pf">Power Forward:</label>
     <input type="text" name="power_forward" id="pf">

     <br/>

     <label for="sf">Small Forward:</label>
     <input type="text" name="small_forward" id="sf">

     <br/>

     <label for="c">Center:</label>
     <input type="text" name="center" id="c">

     <br/>

     <button type="submit" id="submit">Submit</button>
   </form>
 </body>
</html>
