<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method= "POST" action= "/team">
     <h1>Create a Basketball Team!</h>
     <h2><p>Team name: <input type="text" name="name"></p></h2>
     <h2><p>Coach: <input type="text" name="coach"></p></h2>
     <h2><p>Point Guard: <input type="text" name="pg"></p></h2>
     <h2><p>Shooting Guard: <input type="text" name="sg"></p></h2>
     <h2><p>Power Forward: <input type="text" name="pf"></p></h2>
     <h2><p>Small Forward: <input type="text" name="sf"></p></h2>
     <h2><p>Center: <input type="text" name="c"></p></h2>
     <h2><input type= "submit" id= "Submit"></h2>
   </form>
 </body>
</html>
