<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form method="POST" action="/team">
     <p><label for="team_name">Team Name: <input type="text" name="name" id="team_name"></label></p>
     <p><label for="coach">Coach: <input type="text" name="coach" id="coach"></label></p>
     <p><label for="point_guard">Point Guard: <input type="text" name="pg" id="point_guard"></label></p>
     <p><label for="shooting_guard">Shooting Guard: <input type="text" name="sg" id="shooting_guard"></label></p>
     <p><label for="power_forward">Power Foward: <input type="text" name="pf" id="power_forward"></label></p>
     <p><label for="small_forward">Small Forward: <input type="text" name="sf" id="small_forward"></label></p>
     <p><label for="center">Center: <input type="text" name="c" id="center"></label></p>

     <input type="submit" id="Submit">
   </form>
 </body>
</html>
