<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form method ="POST" action="/team">
     <p>Team Name: </p><input name = "name" type="text" />
     <p>Coach:</p><input name = "coach" type="text" />
     <p>Point Guard:</p><input name = "pg" type="text" />
     <p>Shooting Guard:</p><input name = "sg" type="text" />
     <p>Power Forward:</p><input name = "pf" type="text" />
     <p>Small Forward:</p><input name = "sf" type="text" />
     <p>Center:</p><input name = "c" type="text" />
     <input type="submit" name="submit" value="submit">
   </form>

 </body>
</html>
