<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
 	<H1>Create a Basketball Team!</H1>
 	<form method="POST" action="/team">
 		Team name:<input type="text" name="name" id="name"><br>
 		<br> 		
 		Coach:<input type="text" name="coach" id="coach"><br>
 		<br>
 		Point Guard:<input type="text" name="pg" id="pg"><br>
 		<br>
 		Shooting Guard:<input type="text" name="sg" id="sg"><br>
 		<br>
 		Power Forward:<input type="text" name="pf" id="pf"><br>
 		<br>
 		Small Forward:<input type="text" name="sf" id="sf"><br>
 		<br>
 		Center:<input type="text" name="c" id="c"><br>
 		<br> <input type="submit" name="submit" id="submit">
 	</form>

 </body>
</html>


