<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>

   <h1>Create a Basketball Team!</h1>
   <form method = "post" action="/team">
     <p>team name<input type="text" name="name"></p>
     <p>coach<input type="text" name="coach"></p>
     <p>point guard<input type="text" name="pg"></p>
     <p>shooting guard<input type="text" name="sg"></p>
     <p>power forward<input type="text" name="sf"></p>
     <p>small forward<input type="text" name="pf"></p>
     <p>center<input type="text" name="c"></p>
     <input type="submit" value="submit">
   </form>

     


 </body>
</html>
