<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form action="/team" method="POST">
     
     <p>
     <label for="team_name">Team Name:</label>
     <input id="team_name" type="text" name="name">
     </p>
     
     <p>
     <label for="coach_name">Coach:</label>
     <input id="coach_name" type="text" name="coach">
     </p>
     
     <p>
     <label for="point_guard">Point Guard:</label>
     <input id:"point_guard" type="text" name="pg">
     </p>
     
     <p>
     <label for="shooting_guard">Shooting Guard:</label>
     <input id="shooting_guard" type="text" name="sg">
     </p>
     
     <p>
     <label for="small_forward">Small Forward: </label>
     <input id="small_forward" type="text" name="sf">
     </p>
     
     <p>
     <label for="power_forward">Power Forward: </label>
     <input id="power_forward" type="text" name="pf">
     </p>
     
     <p>
     <label for="center">Center: </label>
     <input id="center" type="text" name="c">
     </p>
     
     <p><input type="submit" id="Submit"></p>
   </form>
 </body>
</html>


