<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
  <form method="POST" action="/team">
    Team name: <input type="text" name="name" id="name" /><br>
    Coach: <input type="text" name="coach" id="coach" /><br>
    Point Guard: <input type="text" name="pg" id="pg" /><br>
    Shooting Guard: <input type="text" name="sg" id="sg" /><br>
    Short Forward: <input type="text" name="sf" id="sf" /><br>
    Power Forward: <input type="text" name="pf" id="pf" /><br>
    Center: <input type="text" name="c" id="c" /><br>
    <input type="submit" value="Submit" /><br>
 </body>
</html>


