<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="get" action="/newteam">
     <input name="name" type="text">
     <input name="coach" type="text">
     <input name="pg" type="text">
     <input name="sg" type="text">
     <input name="sf" type="text">
     <input name="pf" type="text">
     <input name="c" type="text">
     <input id="Submit" type="submit">
   </form>

 </body>
</html>
