<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>

  <form action="/team" method="POST">
    <label for 'name'>Team Name:&nbsp</label> <input type="text" name = 'name'/></br>
    </br>
    <label for 'coach'>Coach:&nbsp</label> <input type="text" name = 'coach'/></br>
    </br>
    <label for 'pg'>Point Gaurd:&nbsp</label> <input type="text" name = 'pg'/></br>
    </br>
    <label for 'sg'>Shooting Gaurd:&nbsp</label><input type="text" name = 'sg'/></br>
    </br>
    <label for 'sf'>Small Forward:&nbsp</label><input type="text" name = 'sf'/></br>
    </br>
    <label for 'pf'>Poward Forward:&nbsp</label><input type="text" name = 'pf'/></br>
    </br>
    <label for 'c'>Center:&nbsp</label><input type="text" name = 'c'/></br>
    </br>
      <input type="submit" id='Submit' >

  </form>
 </head>
 <body>
 </body>
</html>
