<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form action="/newteam" method="POST">
     <label for="name">Team Name: </label>
     <p><input type="text" name="name" id="name"/></p>
     <label for="coach">Coach: </label>
     <p><input type="text" name="coach" id="coach"/></p>
     <label for="pg">Point Guard: </label>
     <p><input type="text" name="pg" id="pg"/></p>
     <label for="sg">Shooting Guard: </label>
     <p><input type="text" name="sg" id="sg"/></p>
     <label for="sf">Small Forward: </label>
     <p><input type="text" name="sf" id="sf"/></p>
     <label for="pf">Power Forward: </label>
     <p><input type="text" name="pf" id="pf"/></p>
     <label for="c">Center: </label>
     <p><input type="text" name="c" id="c"/></p>
     <input type="submit" value="Submit" id="submit"/>
   </form>
 </body>
</html>
