<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>

   <form method="POST" action="/team">
     <p>Team Name: <input type="string" name="name"></p>
     <p>Coach: <input type="string" name="coach"></p>
     <p>Point Guard: <input type="string" name="pg"></p>
     <p>Shooting Guard: <input type="string" name="sg"></p>
     <p>Small Forward: <input type="string" name="sf"></p>
     <p>Power Forward: <input type="string" name="pf"></p>
     <p>Center: <input type="string" name="c"></p>
     <input type="submit" value="submit" name="submit">
  </form>

 </body>
</html>
