<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form action="/team" method="POST">
     <label for="name">Team Name:</label>
     <p><input type="text" name="Team Name" id="name" /></p>
     <label for="name">Coach:</label>
     <p><input type="text" name="Coach" id="coach" /></p>
     <label for="name">Point Guard:</label>
     <p><input type="text" name="Point Guard" id="pg" /></p>
     <label for="name">Shooting Guard:</label>
     <p><input type="text" name="Shooting Guard" id="sg" /></p>
     <label for="name">Small Forward:</label>
     <p><input type="text" name="Small Forward" id="sf" /></p>
     <label for="name">Power Forward:</label>
     <p><input type="text" name="Power Forward" id="pf" /></p>
     <label for="name">Center:</label>
     <p><input type="text" name="Center" id="c" /></p>
     <input type="submit" value="submit"/>
   </form>

 </body>
</html>
