<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>

  <h1>Create a Basketball Team!</h1>
  <form action="/team" method="POST">
    <p>
      <label for="name">Name:</label>
      <input type="text" id="name" name="Team Name">
    </p>
      <label for="coach">Coach:</label>
      <input type="text" id="coach" name="Coach">
    <p>
      <label for="pg">Point Guard:</label>
      <input type="text" id="pg" name="Point Guard">
    </p>
      <label for="sg">Shooting Guard:</label>
      <input type="text" id="sg" name="Shooting Guard">
    <p>
      <label for="pf">Power Forward:</label>
      <input type="text" id="pf" name="Power Forward">
    </p>
    <p>
      <label for="sf">Small Forward:</label>
      <input type="text" id="sf" name="Small Forward">
    </p>
    <p>
      <label for="c">Center:</label>
      <input type="text" id="c" name="Center">
    </p>
    <button>submit</button>
  </form>

 </body>
</html>


