<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action="/team">
     <p>Team Name: <input type="text" id="name" name="name"/></p>
     <p>Coach: <input type="text" id="coach" name="coach"/></p>
     <p>Point Guard: <input type="text" id="pg" name="pg"/></p>
     <p>Shooting Guard: <input type="text" id="sg" name="sg"/></p>
     <p>Small Forward: <input type="text" id="sf" name="sf"/></p>
     <p>Power Forward: <input type="text" id="pf" name="pf"/></p>
     <p>Center: <input type="text" id="c" name="c"/></p>
     <input type="submit" id="submit" value="submit"/>
   </form>
 </body>
</html>
