<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form action="/team" method="post">
     <label for="post-name">Team Name:</label>
     <input id="post-name" type="text" name="name">
        <br/>
        <br/>
     <label for="post-coach">Coach:</label>
     <input id="post-coach" type="text" name="coach">
        <br/>
        <br/>
     <label for="post-pg">Point Guard:</label>
     <input id="post-pg" type="text" name="pg">
        <br/>
        <br/>
     <label for="post-sg">Shooting Guard:</label>
     <input id="post-sg" type="text" name="sg">
        <br/>
        <br/>
     <label for="post-sf">Small Forward:</label>
     <input id="post-sf" type="text" name="sf">
        <br/>
        <br/>
     <label for="post-pf">Power Forward:</label>
     <input id="post-pf" type="text" name="pf">
        <br/>
        <br/>
     <label for="post-c">Center:</label>
     <input id="post-c" type="text" name="c">
        <br/>
        <br/>
      <button type="submit" value="submit">Submit</button>
    </form>
 </body>
</html>
