<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Basketball Team Signup</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  </head>
  <body>
    <h1>Basketball Team Signup Sheet</h1>

    <form method="POST" action="/team">
      <p>Team Name <input type="text" name="name" /></p>
      <p>Coach <input type="text" name="coach" /></p>
      <p>Point Guard <input type="text" name="pg" /></p>
      <p>Shooting Guard <input type="text" name="sg" /></p>
      <p>Power Forward <input type="text" name="pf" /></p>
      <p>Small Forward <input type="text" name="sf" /></p>
      <p>Center <input type="text" name="c" /></p>
      <input type="submit" name="submit" value="submit" id="submit"/>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
  </body>
</html>
