<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action="/newteam">
      <!-- <input type="text" name="string"> -->
      <input type="Team Name:" name="name">
      <input type="Coach:" name="coach">
      <input type="Point Guard:" name="pg">
      <input type="Shooting Guard:" name="sg">
      <input type="Power Forward:" name="pf">
      <input type="Small Forward:" name="sf">
      <input type="Center:" name="c">
      <input type="submit">
    </form>
 </body>
</html>
