<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form action="/team" method="POST">
     <label for="name">Name:</label>
     <p>
       <input type="text" id="name" name="name"/>
     </p>

     <label for="coach">Coach:</label>
     <p>
       <input type="text" id="coach" name="coach"/>
     </p>

     <label for="pg">Point Guard:</label>
     <p>
       <input type="text" id="pg" name="pg"/>
     </p>

     <label for="sg">Shooting Guard:</label>
     <p>
       <input type="text" id="sg" name="sg"/>
     </p>

     <label for="pf">Power Foward:</label>
     <p>
       <input type="text" id="pf" name="pf"/>
     </p>

     <label for="sf">Small Forward:</label>
     <p>
       <input type="text" id="sf" name="sf"/>
     </p>

     <label for="c">Center:</label>
     <p>
       <input type="text" id="c" name="c"/>
     </p>

      <p>
        <input type="submit" id="submit" value="Submit"/>
      </p>
   </form>
 </body>
</html>
