<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form method="POST" action="/team">
     <p>Team Name: <input type ="text" name ="name"> </input></p>
     <p>Coach: <input type ="text" name ="coach"> </input></p>
     <p>Point Guard: <input type ="text" name ="pg"> </input></p>
     <p>Shooting Guard: <input type ="text" name ="sg"> </input></p>
     <p>Power Forward: <input type ="text" name ="pf"> </input></p>
     <p>Small Forward: <input type ="text" name ="sf"> </input></p>
     <p>Center: <input type ="text" name ="c"> </input></p>
     <p><input type="submit" name="submit" value="submit"></input></p>
   </form>

 </body>
</html>
