<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>

  <form action="/team" method="POST">
    <label for 'team_name'>Team Name:</label><input type="text" name = 'team_name'/></br>
    <label for 'coach'>Coach:</label><input type="text" name = 'coach'/></br>
    <label for 'point_gaurd'>Point Gaurd:</label><input type="text" name = 'point_gaurd'/></br>
    <label for 'shooting_gaurd'>Shooting Gaurd:</label><input type="text" name = 'shooting_gaurd'/></br>
    <label for 'small_forward'>Small Forward:</label><input type="text" name = 'small_forward'/></br>
    <label for 'power_forward'>Poward Forward:</label><input type="text" name = 'power_forward'/></br>
    <label for 'center'>Center:</label><input type="text" name = 'center'/></br>
      <input type="submit" >

  </form>
 </head>
 <body>
 </body>
</html>
