<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form  action="/team" method="POST">

     <label for="name">Team Name:</label>
     <input type="text" name="name" value="">

     <label for="coach">Coach:</label>
     <input type="text" name="coach" value="">

     <label for="pg">Point Guard:</label>
     <input type="text" name="pg" value="">

     <label for="sg">Shooting Guard:</label>
     <input type="text" name="sg" value="">

     <label for="pf">Power Forward:</label>
     <input type="text" name="pf" value="">

     <label for="sf">Small Forward:</label>
     <input type="text" name="sf" value="">

     <label for="c">Center:</label>
     <input type="text" name="c" value="">

     <input type="submit" name="submit" value="submit">
   </form>


 </body>
</html>
