<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h2>Create a Basketball Team!</h2>
   <form method="post" action="/team">
     <P>Team Name: <input type="text" name="name"></p>
     <P>Coach: <input type="text" name="coach"></p>
     <P>Point Guard: <input type="text" name="pg"></p>
     <P>Shooting Guard: <input type="text" name="sg"></p>
     <P>Small Forward: <input type="text" name="sf"></p>
     <P>Power Forward: <input type="text" name="pf"></p>
     <P>Center: <input type="text" name="c"></p>
     <input id="Submit" type="submit">
   </form>

 </body>
</html>
