<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form action="/team" method="POST">
     <label for="POST-team">Team Name:</label>
     <input id="POST-team" type="text" name="name">
     <label for="POST-coach">Coach:</label>
     <input id="POST-coach" type="text" name="coach">
     <label for="POST-pg">Point Guard:</label>
     <input id="POST-pg" type="text" name="pg">
     <label for="POST-sg">Shooting Guard:</label>
     <input id="POST-sg" type="text" name="sg">
     <label for="POST-sf">Shooting Forward:</label>
     <input id="POST-sf" type="text" name="sf">
     <label for="POST-pf">Power Forward:</label>
     <input id="POST-pf" type="text" name="pf">
     <label for="POST-c">center:</label>
     <input id="POST-c" type="text" name="c">
   <button type="submit" id="Submit">Submit</button>
 </body>
</html>
