<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Basketball Team Signup</title>
</head>
<body>
<h1> Create a B-ball team!</h1>
<form action = "/team" method = "post">

      <label for= "name"  > name   </label>
      <input input type = "text" name= "name"  >   </input><br><br>
      
      <label for= "coach"> Coach </label>
      <input input type = "text" name= "coach"> </input><br><br>
      
      <label for= "pg">    Point Guard</label>
      <input input type = "text" name= "pg">    </input><br><br>
      
      <label for= "sg">    Shooting Guard   </label>
      <input input type = "text" name= "sg">    </input><br><br>
      
      <label for= "pf">    Power Forward   </label>
      <input input type = "text" name= "pf">    </input><br><br>
      
      <label for= "sf">    Small Forward   </label>
      <input input type = "text" name= "sf">    </input><br><br>
      
      <label for= "c">     Center   </label>
      <input input type = "text" name= "c">     </input><br><br>
      
      <input type="submit" name="submit" value="submit" id="submit"/>

</form>
</body>
</html>


