<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form action="/team" method="POST">
     <h3>Team name: <input type="text" name="name"></h3>
     <h3>Coach: <input type="text" name="coach"></h3>
     <h3>Point Guard: <input type="text" name="pg"></h3>
     <h3>Shooting Guard: <input type="text" name="sg"></h3>
     <h3>Power Forward: <input type="text" name="pf"></h3>
     <h3>Small Forward: <input type="text" name="sf"></h3>
     <h3>Center: <input type="text" name="c"></h3>
     <button type="submit">submit</button>
   </form>

 </body>
</html>
