<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form action="/team" method="POST">
    <p>
      <label for="team_name">Team Name:</label>
      <input type="text" name="name" id="team_name">
    </p>
    <p>
      <label for="coach">Coach:</label>
      <input type="text" name="coach" id="coach">
    </p>
    <p>
      <label for="point_guard">Point Guard:</label>
      <input type="text" name="pg" id="point_guard">
    </p>
    <p>
      <label for="shooting_guard">Shooting Guard:</label>
      <input type="text" name="sg" id="shooting_guard">
    </p>
    <p>
      <label for="small_forward">Small Forward:</label>
      <input type="text" name="sf" id="small_forward">
    </p>
    <p>
      <label for="power_forward">Power Forward:</label>
      <input type="text" name="pf" id="power_forward">
    </p>
    <p>
      <label for="center">Center:</label>
      <input type="text" name="c" id="center">
    </p>
    <input type="submit" id="Submit">
   </form>
 </body>
</html>


