<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Basketball Team Signup</h1>

   <form method="POST" action="/team">
     <input type="text" name="name">Team Name:</input>
     <input type="text" name="coach">Coach:</input>
     <input type="text" name="pg">Point Guard:</input>
     <input type="text" name="sg">Shooting Guard:</input>
     <input type="text" name="pf">Power Forward:</input>
     <input type="text" name="sf">Small Forward:</input>
     <input type="text" name="c">Center</input>
     <input id ="Submit" type="submit">
   </form>
 </body>
</html>
