<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
  <h1>Create a Basketball Team!</h1>
  <form class="" action="/team" method="POST">
    <label for="name">Team Name:</label><input type="text" name="name" value="" id="name"><br><br>
    <label for="coach">Coach:</label><input type="text" name="coach" value="" id="coach"><br><br>
    <label for="pg">Point Guard:</label><input type="text" name="pg" value="" id="pg"><br><br>
    <label for="sg">Shooting Guard:</label><input type="text" name="sg" value="" id="sg"><br><br>
    <label for="sf">Small Forward:</label><input type="text" name="sf" value="" id="sf"><br><br>
    <label for="pf">Power Forward:</label><input type="text" name="pf" value="" id="pf"><br><br>
    <label for="c">Center:</label><input type="text" name="c" value="" id="c"><br><br>
    <input type="submit" name="Submit" value="Submit">
  </form>
 </head>
 <body>
 </body>
</html>
