<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form class="" action="/team" method="POST">
     <p>Team Name:<input type="text" name="name" value="Team Name"></p>
     <p>Coach:<input type="text" name="coach" value="Coach"></p>
     <p>Point Guard:<input type="text" name="pg" value="Point Guard"></p>
     <p>Shooting Guard:<input type="text" name="sg" value="Shooting Guard"></p>
     <p>Power Forward:<input type="text" name="pf" value="Power Forward"></p>
     <p>Small Forward:<input type="text" name="sf" value="Small Forward"></p>
     <p>Center:<input type="text" name="c" value="Center"></p>
     <input type="submit" name="submit" value="submit">
   </form>
 </body>
</html>
