<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>

   <h1>Create a Basketball Team!</h1>

   <form action="/team" method="post">
     <p><label for="name">Team Name:</label> <input type="text" name="name" value=""></p>
     <p><label for="coach">Coach:</label> <input type="text" name="coach" value=""></p>
     <p><label for="pg">Point Guard:</label> <input type="text" name="pg" value=""></p>
     <p><label for="sg">Shooting Guard:</label> <input type="text" name="sg" value=""></p>
     <p><label for="pf">Power Forward:</label> <input type="text" name="pf" value=""></p>
     <p><label for="sf">Small Forward:</label> <input type="text" name="sf" value=""></p>
     <p><label for="c">Center:</label> <input type="text" name="c" value=""></p>
     <p><input type="submit" name="submit" value="submit"></p>
   </form>

 </body>
</html>
