<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
  <h1>Create a Basketball Team!</h1>
   
  <form method="POST" action="/team">
    <p><label for="POST-name">Team Name: </label> <input type="text" name="name"></p>
    <p><label for="POST-coach">Coach: </label> <input type="text" name="coach"></p>
    <p><label for="POST-pg">Point Guard: </label> <input type="text" name="pg"></p>
    <p><label for="POST-sg">Shooting Guard: </label> <input type="text" name="sg"></p>
    <p><label for="POST-sf">Small Forward: </label> <input type="text" name="sf"></p>
    <p><label for="POST-pf">Power Forward: </label> <input type="text" name="pf"></p>
    <p><label for="POST-c">Center: </label> <input type="text" name="c"></p>
    <p><input type="submit" value="Submit"></p>
  </form>
   
   
 </body>
</html>


