<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action="/team">
     <p>Team Name:<input type="text" name="team_name"/></p>
     <p>Coach:<input type="text" name="coach"/></p>
     <p>Point Guard<input type="text" name="point_guard"/></p>
     <p>Shooting Guard<input type="text" name="shooting_guard"/></p>
     <p>Power Forward<input type="text" name="power_forward"/></p>
     <p>Small Forward<input type="text" name="small_Forward"/></p>
     <p>Center<input type="text" name="center"/></p>
     <p>Submit<input type="submit">
   </form>

 </body>
</html>
