<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form action = "/team" method ="POST">
     <label for="POST-team">Team Name:</label>
       <input id="POST-team" type="text" name="name">
        <br/>

     <label for="POST-team">Coach:</label>
        <input id="POST-team" type="text" name="coach">
        <br/>

    <label for="POST-team">Point Guard:</label>
        <input id="POST-team" type="text" name="pg">
         <br/>

    <label for="POST-team">Shooting Guard:</label>
         <input id="POST-team" type="text" name="sg">
         <br/>

    <label for="POST-team">Small Forward:</label>
          <input id="POST-team" type="text" name="sf">
          <br/>

    <label for="POST-team">Power Forward:</label>
          <input id="POST-team" type="text" name="pf">
          <br/>
    <label for="POST-team">Center:</label>
          <input id="POST-team" type="text" name="c">
          <br/>

     <button type="submit" value="Submit">Submit</button>
   </form>
 </body>
</html>
