<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form method = "POST" action = "/team">
     <p><label for = "name">Team name:</label>
     <input type = "text" name = "name" id = "name"></p>
     <p><label for = "coach">Coach:</label>
     <input type = "text" name = "coach" id = "coach"></p>
     <p><label for = "pg">Point Guard:</label>
     <input type = "text" name = "pg" id = "pg"></p>
     <p><label for = "sg">Shooting Guard:</label>
     <input type = "text" name = "sg" id = "sg"></p>
     <p><label for = "sf">Small Forward:</label>
     <input type = "text" name = "sf" id = "sf"></p>
     <p><label for = "pf">Power Forward:</label>
     <input type = "text" name = "pf" id = "pf"></p>
     <p><label for = "c">Center:</label>
     <input type = "text" name = "c" id = "c"></p>
     <p><input type = "submit" value = "Submit" id = "submit"></p> 
   </form>
   
 </body>
</html>


