<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
  <h1>Create a Basketball Team!</h1>
  
  <form method="POST" action="/team">
    <p><label>Team Name:</label>
        <input type="text" name="name"></p>
    <p><label>Coach:</label>
        <input type="text" name="coach"></p>
    <p><label>Point Guard:</label>
        <input type="text" name="pg"></p>
    <p><label>Shooting Guard:</label>
        <input type="text" name="sg"></p>
    <p><label>Power Forward:</label>
        <input type="text" name="pf"></p>
    <p><label>Small Forward:</label>
        <input type="text" name="sf"></p>
    <p><label>Center:</label>
        <input type="text" name="c"></p>
    <input type="submit" name="submit" id="submit">
  </form>
 </body>
</html>


