<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action="/newteam">
     <input type="text" Team Name="string">
     <input type="text" Coach="string">
     <input type="text" Point Guard="string">
     <input type="text" Shooting Guard="string">
     <input type="text" Small Forward="string">
     <input type="text" Power Forward="string">
     <input type="text" Center="string">
     <input type="submit">
   </form>
 </body>
</html>
