<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>

    <form method="POST" action="/newteam">
      <input type="text" name="string">
      <input type="text" name="string">
      <input type="text" name="string">
      <input type="text" name="string">
      <input type="text" name="string">
      <input type="text" name="string">
      <input type="text" name="string">
      <input type="submit" id="submit">
    </form>
 </body>
</html>
