<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
  </head>
  <body>
    <form method="post" action="/team">
      <input type="text" name="name" placerholer="Name"></input>
      <input type="text" name="coach" placerholer="Coach"></input>
      <input type="text" name="pg" placerholer="Point Guard"></input>
      <input type="text" name="sg" placerholer="Shooting Guard"></input>
      <input type="text" name="sf" placerholer="Small Forward"></input>
      <input type="text" name="pf" placerholer="Power Forward"></input>
      <input type="text" name="c" placerholer="Center"></input>
      <input type="submit" name="submit" value="Submit" id="submit">
    </form>
  </body>
</html>


