<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
    <h1>Create a Basketball Team!</h1>
    <form action="/team" method="POST">
      <label for="new_team">Name:</label>

  <p><input type="text" name="field" id="user_name" /></p>
  <p><input type="text" name="field"
  <p><input type="text" name="field"
  <p><input type="text" name="field"
  <p><input type="text" name="field"
  <p><input type="text" name="field"
  <p><input type="text" name="field"
  <input type="submit" value="Submit"/>
</form>
 </body>
</html>
