<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>


   <h1><%= @array[0] %></h1>
   

   <% @info2 = @array.reject {|arr| arr == arr.first} %>
   <h2><%= @info2 %></h2>



 </body>
</html>
