<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
      <!-- <input type="text" name="string"> -->
      <form method="POST" action="/team">
        <p> Team Name: <input type="text" name="name"> </p>
        <p> Coach: <input type="text:" name="coach"> </p>
        <p> Point Guard: <input type="Point Guard:" name="pg"> </p>
        <p> Shooting Guard: <input type="Shooting Guard:" name="sg"> </p>
        <p> Power Forward: <input type="Power Forward:" name="pf"> </p>
        <p> Small Forward: <input type="Small Forward:" name="sf"> </p>
        <p> Center: <input type="Center:" name="c">
      <p> <input type="submit" value="Submit"> </p>
    </form>
 </body>
</html>
