<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

   <p><input type="text" name="name" id="team_name"/></p>
   <p><input type="text" name="Coach" id="coach"/></p>
   <p><input type="text" name="Point Guard" id="pg"/></p>
   <p><input type="text" name="Shooting Guard" id="sg"/></p>
   <p><input type="text" name="field" id="Small_Forward"/></p>
   <p><input type="text" name="field" id="Power_Forward"/></p>
   <p><input type="text" name="field" id="Center"/></p>
   <input type="submit" value="Submit"/>

 </body>
</html>
