<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <% @team_members.each do |param, position| %>
   <h2><%= param[position] %></h2>
   <% end %>
 </body>
</html>
