<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

   <form method="POST" action="/team">
-      <p> Team Name: <input type="text" id= "name" name="name"> </p>
-      <p>Coach: <input type="text" name="coach" id= "coach"></p>
-      <p>Point Guard:<input type="text" id= "pg" name="pg"></p>
-      <p>Shooting Guard:<input type="text" id= "sg"name="sg"></p>
-      <p>Small Forward:<input type="text" id='sf' name="sf"></p>
-      <p>Power Forward:<input type="text" id='pf' name="pf"></p>
-      <p>Center: <input type="text" name="c" id="c"></p>
-      <p><input type="submit" id= "submit"></p>
-    </form>


 </body>
</html>
