<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form method="POST" action="/team">
     <% @fields.each do |k,v| %>
       <p><%= v %>: <input type="text" name="<%= k %>"/></p>
     <% end %>
     <input type="submit" value="submit" name="submit">
   </form>
 </body>
</html>


