<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
  <%= "Team Name: #{@team_name}\n Coach: #{@coach}\n Point Guard: #{@pg}\n Shooting Guard: #{@sg}\n Small Forward: #{@sf}\n Power Forward: #{@pf}\n Center: #{@c}"%> 


 </body>
</html>


