<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Basketball Team! </h1>
 <p>
   Team Name: <%= @a %>
   Coach: <%= @b %>
 </p>


 </body>
</html>
