<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <title>Basketball Team</title>
 </head>

 <body>

   <p>Team name: <%=@name%>
  Coach: <%=@coach%>
  pg:<%=@Point_Guard%>
  sg:<%=@Shooting Guard%>
  :Power Forward => "pf"
  :Small Forward => "sf"
  :Center => "c"
}
  %></p>

  </body>

</html>
