<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

    <% App::FIELDS.each do |field, name| %>
      <%= name %>: <%= params[field]%><br>
    <% end %>


 </body>
</html>
